@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400;9..40,700&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  color: var(--white);
  background: var(--bg);
}
img {
  width: auto;
  height: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* color: var(--white); */
}
a:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

h1 {
  font-size: 75px;
  font-weight: 200;
  letter-spacing: 3.2px;
}
strong {
  font-weight: 900;
}
p {
  font-size: 15px;
}

:root {
  --black: #000;
  --bg: #191919;
  --white: #ffffff;
  --light-gray: rgba(255, 255, 255, 0.7);
  --blue: #118da8;
  --blue-hover: #166a7c;

  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--bg);
  --header-text: var(--white);
  --button-hover: var(--blue-hover);
}

.header {
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  max-width: 1440px;
  align-items: center;
  align-content: center;
}
.header_logo {
  padding-top: 5px;
}
.header_navigation {
  display: flex;
  justify-content: space-around;
}
.navigation__item {
  cursor: pointer;
  color: var(--white);
  font-size: 17px;
  margin-left: 40px;
}
.navigation__item:hover {
  color: var(--blue-hover);
}

/* container #1 */

.container {
  max-width: 1440px;
  margin: 100px auto;
}
.container_flex {
  max-width: 1440px;
  margin: 100px auto;
  display: flex;
}

.main_image_container {
  width: auto;
  height: 100%;
}
.main_image__item {
  object-fit: cover;
  border-radius: 12px;
}
.main_text_container {
  margin: auto;
}

.links_list {
  margin-top: 90px;
}
.links_items {
  position: relative;
  display: flex;
  column-gap: 17px;
  margin-top: 16px;
  flex-wrap: wrap;
}
.links_item {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease; /* Добавляем плавную анимацию */
}
.links_item:hover {
  transform: translateY(-5px); /* Поднимаем картинку на 5 пикселей вверх */
  transition: transform 0.3s ease; /* Добавляем плавную анимацию */
}

/* container #2 */
h2 {
  font-size: 64px;
  font-weight: normal;
}
.button_blue {
  padding: 12px 15px;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--blue);
}
.button_blue:hover {
  background-color: var(--blue-hover);
}
.btn_animate {
  transition: transform 0.3s ease;
}
.btn_animate:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.episodes_list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 160px;
}
.episode_item {
  display: flex;
  gap: 50px;
  padding: 40px;
  background: var(--black);
  border-radius: 32px;
}
.episode_img {
  width: 390px;
  height: 100%;
}
.episode__tag {
  font-size: 18px;
  line-height: 27px;
  width: max-content;

  padding: 0 16px;
  margin-bottom: 50px;
  border-radius: 6px;
  background-color: var(--bg);
}
.episode__number {
  color: var(--blue);
  margin-bottom: 20px;
}
.episode__title {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 70px;
  margin-bottom: 30px;
}
.episode__text_p {
  font-size: 22px;
  font-weight: 200;
  line-height: 33px;
  color: var(--light-gray);
  margin-bottom: 30px;
}

/* container #3 */

.button_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 56px; */
  margin-bottom: 20px;
  border-radius: 100px;
  height: 112px;
  width: 112px;
  color: var(--white);
  background-color: var(--blue);
}
.button_arrow:hover {
  background-color: var(--blue-hover);
}
.arrow {
  height: 80px;
  width: 70px;
}

.man_img {
  width: 650px;
  margin-left: 110px;
}

/* container #4 */

.dark_bg {
  display: flex;
  background: var(--black);
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border-radius: 32px;
}
.email_title {
  gap: 50px;
  /* padding: 60px; */
  background: var(--black);
  border-radius: 32px;
}
.form {
  width: 520px;
}

.form_group {
  position: relative;
  margin-bottom: 40px;
  padding-right: 60px;
}
.form_label {
  position: absolute;
  top: -25px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  color: var(--white);
}
.form_input {
  width: 100%;
  font-size: 24px;
  background: var(--bg);
  padding: 20px 25px;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  color: var(--white);
  align-items: center;
}

.form_input:focus + label {
  opacity: 1;
}
/* .form_input:focus {
  background: #4e4e4e;
} */

.form_button {
  font-size: 15px;
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form_button:hover {
  background-color: var(--blue-hover);
}

/* container #5 */
.reviews_list {
  gap: 15px;
  display: flex;
  margin-bottom: 15px;
}
.reviews_item {
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 32px;
  width: auto;
  height: auto;
  background-color: var(--black);
}
.reviews_item__stars {
  width: 110px;
  height: 17px;
  flex-shrink: 0;
}
.reviews_item__description {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  margin: 20px 0;
  overflow-wrap: break-word;
}
.reviews_item__auther {
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 28.8px;
}
/* footer */
.container_footer {
  max-width: 1440px;
  margin: 150px auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 0.031px 16px 0px;
}
.footer_list {
  display: inline-block;
}
.footer_logo {
  margin-bottom: 10px;
}
.footer_list__links_social {
  display: flex;
  width: 32px;
  gap: 10px;
}
.footer_list__page_links {
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 10px;
  font-size: 18px;
  line-height: 27px;
}
